<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>presidenteClube</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="estilo.css" />
</head>

<body>

	<div class="topnav" id="myTopnav"> 
		<a href="#home" class="logo"><img src="images/pClube.png"></a>
		<a href="#news">News</a>
		<a href="#contact">Contact</a>
		<div class="dropdown">
			<button class="dropbtn">Dropdown 
			<i class="fa fa-caret-down"></i>
			</button>
			<div class="dropdown-content">
			<a href="#">Link 1</a>
			<a href="#">Link 2</a>
			<a href="#">Link 3</a>
			</div>
		</div> 
		<a href="#about">About</a>
		<a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
	</div>

	<script>
		function myFunction() {
			var x = document.getElementById("myTopnav");
			if (x.className === "topnav") {
				x.className += " responsive";
			} else {
				x.className = "topnav";
			}
		}
	</script>

	<div id="app">						  
		<button v-on:click="salva">Salva</button>
		<button v-on:click="soma">Soma Ponto</button>
		<button v-on:click="adiciona">Adiciona</button>
		<form id="search">
			Search
			<input name="query" v-model="searchQuery">
		</form>
		<demo-grid :data="json" :columns="gridColumns" :filter-key="searchQuery"></demo-grid>

		<button id="show-modal" @click="showModal = true">Show Modal</button>
		<!-- use the modal component, pass in the prop -->
		<modal v-if="showModal" @close="showModal = false" @add="paga">
			<!--
			you can use custom content here to overwrite
			default content
		  -->
			<h3 slot="header">custom header</h3>
		</modal>
		<div id="response"></div>
	</div>
	
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="src/modal.js"></script>
	<script src="src/table.js"></script>
	<script>
		var app = new Vue({
			el: "#app",
			data: {
				showModal: false,
				searchQuery: '',
				gridColumns: ['nome', 'pontos', 'jogos'],
				json: null
			},
			created: function () {
				fetch("atletas.json")
					.then(r => r.json())
					.then(json => {
						this.json = json;
					});
			},
			methods: {
				salva: function (event) {
					var response = document.getElementById("response");
					//var data = 'data='+document.getElementById("data").value;					
					var data = 'data=' + JSON.stringify(this.json, null, '\t');
					var xmlhttp = new XMLHttpRequest();
					xmlhttp.onreadystatechange = function () {
						if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
							response.innerHTML = '<p>' + xmlhttp.responseText + '</p>';
						}
					}
					xmlhttp.open("POST", "save.php", true);
					//Must add this request header to XMLHttpRequest request for POST
					xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
					xmlhttp.send(data);
				},
				soma: function (event) {
					this.json[0].pontos++;
				},
				adiciona: function (event) {
					this.json.push({ "nome": "Nei", "jogos": 12, "pontos": 18, "pago":1 });
					this.showModal = false; 
				},
				paga: function(event){
					this.json[6].pago = 0;
				}
			}
		});
	</script>
</body>
</html>