<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>presidenteClube</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="estilo.css" />
	<script type="text/x-template" id="grid-template">
		<table>
		<col width="150">
		<col width="100">
		<col width="100">
		<thead>
			<tr>
			<th v-for="key in columns"
				@click="sortBy(key)"
				:class="{ active: sortKey == key }">
				{{ key | capitalize }}
				<span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'">
				</span>
			</th>
			<th>Pago</th>
			</tr>
		</thead>
		<tbody>
			<tr v-for="(entry,row) in filteredData">
			<td v-for="key in columns">
				{{entry[key]}}
			</td>
			<td :class="{ active: filteredData[row].pago == 1 }"><input
				id="checkbox"
				type="checkbox"
				:checked="filteredData[row].pago"
			/>
			</td>
			</tr>
		</tbody>
		</table>
	</script>
</head>

<body>
	<div id="app">
		<button v-on:click="salva">Salva</button>
		<button v-on:click="soma">Soma Ponto</button>
		<button v-on:click="adiciona">Adiciona</button>
		<div id="response"></div>
		<form id="search">
			Search
			<input name="query" v-model="searchQuery">
		</form>
		<demo-grid :data="json" :columns="gridColumns" :filter-key="searchQuery">
		</demo-grid>

		<button id="show-modal" @click="showModal = true">Show Modal</button>
		<!-- use the modal component, pass in the prop -->
		<modal v-if="showModal" @close="showModal = false" @add="paga">
			<!--
			you can use custom content here to overwrite
			default content
		  -->
			<h3 slot="header">custom header</h3>
		</modal>

	</div>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="src/modal.js"></script>
	<script>
		// register the grid component
		Vue.component('demo-grid', {
			template: '#grid-template',
			props: {
				data: Array,
				columns: Array,
				filterKey: String
			},
			data: function () {
				var sortOrders = {}
				this.columns.forEach(function (key) {
					sortOrders[key] = 1
				})
				return {
					sortKey: '',
					sortOrders: sortOrders
				}
			},
			computed: {
				filteredData: function () {
					var sortKey = this.sortKey
					var filterKey = this.filterKey && this.filterKey.toLowerCase()
					var order = this.sortOrders[sortKey] || 1
					var data = this.data
					if (filterKey) {
						data = data.filter(function (row) {
							return Object.keys(row).some(function (key) {
								return String(row[key]).toLowerCase().indexOf(filterKey) > -1
							})
						})
					}
					if (sortKey) {
						data = data.slice().sort(function (a, b) {
							if(a[sortKey] > b[sortKey]){
								return 1 * order
							}else if(a[sortKey] < b[sortKey]){
								return -1 * order
							}else{
								a = a["jogos"]
								b = b["jogos"]
							}
							return (a === b ? 0 : a > b ? -1 : 1) * order								
						})
					}
					return data
				}
			},
			filters: {
				capitalize: function (str) {
					return str.charAt(0).toUpperCase() + str.slice(1)
				}
			},
			methods: {
				sortBy: function (key) {
					this.sortKey = key
					this.sortOrders[key] = this.sortOrders[key] * -1
				}
			}
		})

		var app = new Vue({
			el: "#app",
			data: {
				showModal: false,
				searchQuery: '',
				gridColumns: ['nome', 'pontos', 'jogos'],
				json: null
				//showModal: true
			},
			created: function () {
				fetch("atletas.json")
					.then(r => r.json())
					.then(json => {
						this.json = json.atletas;
					});
			},
			methods: {
				salva: function (event) {
					var response = document.getElementById("response");
					//var data = 'data='+document.getElementById("data").value;					
					var data = 'data=' + JSON.stringify(this.json, null, '\t');
					var xmlhttp = new XMLHttpRequest();
					xmlhttp.onreadystatechange = function () {
						if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
							response.innerHTML = '<p>' + xmlhttp.responseText + '</p>';
						}
					}
					xmlhttp.open("POST", "save.php", true);
					//Must add this request header to XMLHttpRequest request for POST
					xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
					xmlhttp.send(data);
				},
				soma: function (event) {
					this.json[0].pontos++;
				},
				adiciona: function (event) {
					this.json.push({ "nome": "Nei", "jogos": 12, "pontos": 18, "pago":1 });
					this.showModal = false; 
				},
				paga: function(event){
					this.json[6].pago = 0;
				}
			}
		});
	</script>
</body>
</html>